
.incidences-container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
}

.incidences-container > h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
    font-size: 2rem;
    border-bottom: 2px solid #4a4a4a;
    padding-bottom: 15px;
}
/*Botones*/
.boton-container{
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
    gap: 1rem;
    justify-content: center;
}
button{
    cursor: pointer;
    border-radius: 15%;
    width: 8rem;
    height: 3rem;
    color: black;
    font-size: large;
}
.boton-todos{
    background-color: #888686;
}
.boton-seguridad-vial{
    background-color: #f3bf8e;
}
.boton-otros{
    background-color: #007bff;
}
.boton-obras{
    background-color: #fcdb49;
}
.boton-accidente{
    background-color: #f56565;
}


/*Cartas de incidencias y sus variaciones*/
.incident-card-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap:3rem;
}
/*.incident-card-container > *:only-child{
    width: 250px;
}*/
.incident-card {
    width: 20rem;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.seguridad-vial{
    border-left: 5px solid #f3bf8e;
}

.otras-incidencias{
    border-left: 5px solid #007bff;
}
.obras{
    border-left: 5px solid #fcdb49;
}
.accidente{
    border-left: 5px solid #f56565;
}
.incident-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.incident-card h3 {
    margin-top: 0;
    color: #2e3944;
    font-size: 1.2rem;
    margin-bottom: 15px;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;
}

.incident-card p {
    margin: 10px 0;
    color: #555;
    line-height: 1.6;
}

body{
    background-color: rgb(240, 236, 232)
}

/* From Uiverse.io by Rodrypaladin */ 
.loader {
    width: 70px;
    height: 190px;
    background-image: linear-gradient(to right bottom, #000000, #141414, #202020, #2d2d2d, #3a3a3a);
    border: 5px solid black;
    border-radius: 18px;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    align-self: center;
    top: 30%;
  }
  
  .loader:after {
    content: "";
    position: absolute;
    top: 100%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 10px;
    height: 200px;
    background-color: rgb(20, 20, 20);
    z-index: -1000;
    border: 5px solid black;
  }
  
  .loader-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
  }
  
  .loader-circle::after {
    position: absolute;
    content: "";
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    height: 80%;
    width: 80%;
    background-image: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.5)
    );
    border-radius: 50%;
  }
  
  .loader-circle:nth-child(1) {
    background-color: red;
    animation: changeGrayscale 1s linear infinite;
    animation-delay: 0.15s;
  }
  
  .loader-circle:nth-child(2) {
    background-color: rgb(255, 200, 0);
    animation: changeGrayscale 1s linear infinite;
    animation-delay: 0.3s;
  }
  
  .loader-circle:nth-child(3) {
    background-color: rgb(36, 182, 0);
    animation: changeGrayscale 1s linear infinite;
    animation-delay: 0.45s;
  }
  
  @keyframes changeGrayscale {
    0%, 100% {
      filter: brightness(0);
   /* En grayscale al principio y al final */
    }
  
    50% {
      filter: grayscale(0);
   /* Sin grayscale en la mitad de la animación */
    }
  }
  
  

