*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /*Grid areas for the body. The canvas must go on top*/
    display: grid;
    grid-template-areas: "canvas" "root";
    grid-template-rows: 45px 1fr;
    grid-template-columns: 1fr;
    height: 1000vh
}
#root{
    grid-area: root;
}
