
.navBarContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    background-color: rgb(35, 31, 32);
    padding: 1rem;
}
.navBar{
    height: 100%;
    padding-right: 3rem;
}
.navBarList {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    cursor: pointer;
    list-style-type: none;
}
a{
    color: lightgray;
    text-decoration: none;
}
a:hover{
    color: lightblue;
}
